@import url('./fonts.css');

:root {
  --font-light: PlusJakartaSansLight, sans-serif;
  --font-regular: PlusJakartaSansRegular, sans-serif;
  --font-medium: PlusJakartaSansMedium, sans-serif;
  --font-semiBold: PlusJakartaSansSemiBold, sans-serif;
  --font-bold: PlusJakartaSansBold, sans-serif;
  --font-extraBold: PlusJakartaSansExtraBold, sans-serif;

  --black: #000000;
  --white: #ffffff;
  --green: #1ed760;
  --purple: #2941ab;
  --gray: #919496;
  --dark-gray: #222326;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  font-family: var(--font-medium);
  box-sizing: border-box;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
input,
button {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  background-color: transparent;
  border: none;
}
